
<!DOCTYPE HTML>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	 
	 
	<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<!-- Graph CSS -->
	<link href="css/font-awesome.css" rel="stylesheet"> 
	<!-- jQuery -->
	<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
	<!-- lined-icons -->
	<link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
	<!-- /js -->
 
</head> 
<body>
	<div class="page-container">
	 
				 
					<!--//sub-heard-part-->
					<!--/profile-->
					<h3 class="sub-tittle pro">Profile</h3>
					<div class="profile-widget">
						<img src="images/admin1.jpg" alt=" " />
						<h2>Jasmin Leo</h2>
						<p>Admin</p>
					</div>
					<!--/profile-inner-->
					<div class="profile-section-inner">
						<div class="col-md-6 profile-info">
							<h3 class="inner-tittle">Personal Information </h3>
							<div class="main-grid3">
								<div class="p-20">
									<div class="about-info-p">
										<strong>Full Name</strong>
										<br>
										<p class="text-muted">Jasmin Leo</p>
									</div>
									<div class="about-info-p">
										<strong>Mobile</strong>
										<br>
										<p class="text-muted">(123) 123 1234</p>
									</div>
									<div class="about-info-p">
										<strong>Email</strong>
										<br>
										<p class="text-muted"><a href="mailto:info@example.com">mail@example.com</a></p>
									</div>
									<div class="about-info-p m-b-0">
										<strong>Location</strong>
										<br>
										<p class="text-muted">London, UK</p>
									</div>
								</div>
							</div>


						</div>
  

		</div>
	 
	</body>
	</html>